# osx
.DS_Store

# golang
go.mod
go.sum

# direnv generated
.direnv/

# a.out
a.out

# js
node_modules/

# java class file
*.class

# graalvm related
*.build_artifacts.txt
helloworld
helloworldstatic
prettyprintjson
examplestatic

# terminal
file1.txt
file2.txt
