<configuration debug="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm} %highlight(%-5level) %cyan(%logger{50}) - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- for more detail about tx, set to DEBUG -->
    <logger name="org.springframework.jdbc.datasource.DataSourceTransactionManager" level="INFO"/>
    <logger name="org.springframework.jdbc.core.JdbcTemplate" level="INFO"/>
</configuration>
